<div>
    <h1> Posts By Genre</h1>
    <h3> Select genre: </h3>


    <div id="postBox">
        <div>
            {{post.title}}
            <br>
            Created by: {{user.username}} on {{post.date}}
        </div>

        <div>
            {{post.title}}
            <br>
            Created by: {{user.username}} on {{post.date}}
        </div>
    </div>

</div>