<div>
    <h1>{{post.title}}</h1>
    <br>
    <div>
        Genre: {{post.genre}}
    </div>
    <div>
        Title: {{post.title}}
    </div>
    <div>
        Date: {{post.date}}
    </div>
    <div>
        User: {{post.user.username}}
    </div>
    <br>
    <br>
    <div class="postBox">
        {{post.content}}
    </div>
    <br>
    <button type="button" class="btn btn-danger" id="deletePost" {{is_owner post.user_id user_id }}>Delete Post</button>
    <br>
    <br>
    <div>
        <form>
            <div class="form-group"> 
                <textarea class="form-control" id="postInput" rows="3" placeholder="add a comment..."></textarea>
            </div>
            <button class="btn btn-primary" type="submit" value="submit" id="postBtnPost">Post</button>
        </form>
    </div>
    <br>
    <div>
        <h2>Comments</h2>
        <ul>
            {{#each post.comments as |comment|}}
            <!--{{> post-comment-details}}-->
            <li>{{content}} by {{user.username}} <button type="button" class="btn btn-danger deleteComment" id="deleteComment" data-content="{{content}}" {{is_owner user_id sess_id }}>Delete Comment</button></li>
            {{/each}}
        </ul>
    </div>
    <script src="/js/comment.js"></script>
    <script src="/js/deletePost.js"></script>
    <script src="/js/deleteComment.js"></script>
</div>