<div>
    <h1>{{post.title}}</h1>
    <br>
    <div>
        Genre: {{post.genre}}
    </div>
    <div>
        Title: {{post.title}}
    </div>
    <div>
        Date: {{post.date}}
    </div>
    <div>
        User: {{post.user.username}}
    </div>
    <br>
    <br>
    <div class="postBox">
        {{post.content}}
    </div>
    <br>
    <br>
    <div>
        <form>
            <div class="form-group"> 
                <textarea class="form-control" id="postInput" rows="3" placeholder="add a comment..."></textarea>
            </div>
            <button class="btn btn-primary" type="submit" value="submit" id="postBtnPost">Post</button>
        </form>
    </div>
    <div>
        <h2>Comments</h2>
        <ul>
            {{#each post.comments as |comment|}}
            {{> post-comment-details}}
            {{/each}}
        </ul>
    </div>
    <script src="/js/comment.js"></script>
</div>